@import "@css/colors";

.cart-payment-modal-container .ant-modal-content {
  border-radius: 5px;
  padding: 10px;
}

.cart-payment-modal-container .ant-modal-close-x {
  font-size: 16px;
}

.cart-payment-modal-container .ant-modal-close-x:hover {
  color: $color1;
}

.cart-payment-modal-container .ant-modal-body {
  padding: 20px;
}

.cart-payment-modal-title {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
  color: $color1;
  padding-left: 5px;
}

.cart-payment-modal-subtitle {
  margin-bottom: 0;
  font-size: 15px;
  color: $color10;
  font-weight: 500;
  padding-left: 5px;
}

.cart-payment-input-container {
  padding: 5px;
}

.cart-payment-input-title {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 500;
  color: $color1;
}

.cart-payment-input-container .ant-input {
  border-radius: 5px;
}

.cart-payment-input-container .ant-input:hover:hover,
.ant-input:hover:active {
  border-color: $color1;
}

.cart-payment-set-button-container {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}

.cart-payment-set-button {
  font-size: 15px !important;
  height: 35px !important;
  padding: 0px 20px !important;
  border-radius: 6px !important;
  border: 1px solid #00364e !important;
  background-color: #00364e !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  transition: 0.5s ease !important;
}

.cart-payment-set-button:hover {
  background-color: $color;
  color: $color1;
  transition: 0.5s ease !important;
}

.cart-payment-modal-container .ant-modal-footer {
  display: none;
}
