/** @format */

@import "@css/colors";
@import "@css/fonts";

.categories-main-container {
  background-color: $color7;
  padding: 25px 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-main-title {
  color: $color2;
  font-size: $font2;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
}

.categories-card-container {
  padding: 5px;
}

.categories-image-container {
  padding: 3px;
}

.categories-image {
  width: 100%;
  max-width: 50px;
  border: 1px solid $color2;
  border-radius: 100px;
}
