$color: #eee !important;
$color1: #00364e !important;
$color2: #ffffff !important;
$color3: #555 !important;
$color4: rgba(0, 54, 78, 0.7);
$color5: rgba(0, 54, 78, 0.8);
$color6: rgba(228, 228, 228, 1);
$color7: #999;
$color8: #ab2c2c !important;
$color9: #ddd;
$color10: #00364ea3 !important;
$color11: #00364e00 !important;
$color12: #fbfbfb;
$color13: hsla(0, 0%, 89%, 0.412);
$color14: rgba(0, 0, 0, 1);
$color15: rgba(92, 92, 92, 0.6);

$shadow: 0 1px 3px 0 rgb(0 0 0 / 4%), 0 1px 1px 0 rgb(0 0 0 / 4%),
  0 1px 3px 0 rgb(0 0 0 / 12%);
$shadow-disabled: none !important;
