@import "@css/colors";

.counter-global-container {
  padding: 0 10px;
}

.detail-quantity-form-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.detail-quantity-button {
  padding: 0px 11px !important;
  font-size: 13px !important;
  border-radius: 4px !important;
  border: 1px solid $color11;
  background-color: $color10;
  color: $color2;
  transition: 0.5s ease !important;
}

.detail-quantity-button:hover {
  background-color: $color;
  color: $color1;
  border: 1px solid $color1;
  transition: 0.5s ease !important;
}

.detail-quantity-form-container .ant-form-item {
  width: 100%;
  max-width: 40px;
}

.detail-quantity-form-container .detail-quantity-form-input {
  text-align: center;
}

.detail-quantity-form-input[disabled] {
  color: $color3;
  background-color: $color2;
  cursor: pointer;
}
